<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <title>Blog - Detay</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container mt-3" th:object="${post}">
            <div class="card">
                <div class="card-header" th:text="${post.userName}"></div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${post.postTitle}"></h5>
                    <p class="card-text" th:text="${post.postContent}"></p>
                    <p th:text="${#calendars.format(post.postDate,'dd/MMM/yyyy')}"></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>