<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>Blog - Post</title>
</head>

<body>

	<div layout:fragment="content">
		<div class="container mt-3">
			<table class="table table-bordered">
				<thead class="table-dark">
					<tr>
						<td>Post Id</td>
						<td>Post Başlık</td>
						<td>Post Tarih</td>
						<td>Post Kullanıcı</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post : ${posts}">
						<td th:text="${post.postId}"></td>
						<td th:text="${post.postTitle}"></td>
						<td th:text="${#calendars.format(post.postDate,'dd/MMM/yyyy')}"></td>
						<td th:text="${post.userName}"></td>
						<td>
							<a th:href="@{/posts/{id}/detail.html(id=${post.postId})}" class="btn btn-info btn-xs">Detay</a>
							<a th:href="@{/posts/{id}/edit.html(id=${post.postId})}" class="btn btn-success btn-xs">Düzenle</a>
							<a th:data-id="${post.postId}" th:onclick="postDelete(this.getAttribute('data-id'))"
								class="btn btn-danger btn-xs">Sil</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<th:block layout:fragment="optional">
		<script>

			function postDelete(id) {
				let text = "Post Silinecek Emin Misiniz?";
				if (confirm(text) == true) {
					fetch("/posts/delete/" + id)
						.finally(() => {
							window.location.reload();
						});
				}
			}

		</script>
	</th:block>

</body>

</html>