<nav class="navbar navbar-expand-lg bg-light" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
  <div class="container">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/users.html}">Kullanıcılar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Post
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/posts.html}">Post Listele</a></li>
            <li><a class="dropdown-item" th:href="@{/addpost.html}">Post Ekle</a></li> 
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>