<!doctype html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <title>Blog - Kullanıcılar</title> 
  </head>
  <body>
	<div layout:fragment="content" class="container mt-3">
		<table class="table table-bordered">
			<thead class="table-dark">
				<tr>
					<td>Kullanıcı Id</td>
					<td>Kullanıcı Adı</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.userName}"></td>
				</tr>
			</tbody>
		</table>
	</div>
  </body>
</html>