<!doctype html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
	<title>Anasayfa</title>
</head>
  <body>
	<div layout:fragment="content" class="container">
		<div th:each="post : ${posts}" class="card mt-2">
			<div class="card-header" th:text="${post.userName}"></div>
			<div class="card-body">
				<h5 class="card-title" th:text="${post.postTitle}"></h5>
				<p class="card-text" th:text="${post.postContent}"></p>
				<p th:text="${#calendars.format(post.postDate,'dd/MMM/yyyy')}"></p>
				<a th:href="@{/posts/{id}/detail.html(id=${post.postId})}" class="btn btn-outline-dark">Devamını Oku</a>
			</div>
		</div>
	</div>	
  </body>  
</html>